.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}

.horizontal-line {
    border-top: 1px solid #CCCCCC;
    margin-top: 1em;
}

.scrollable-dropdown {
    overflow:auto;
    max-height: 250px;
}
