.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

/* #message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
} */

.horizontal-line {
    border-top: 1px solid #CCCCCC;
    margin-top: 1em;
}

.scrollable-dropdown {
    overflow:auto;
    max-height: 250px;
}

.fixed-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: #CBC6C6; */
   background-color: #EEE6E6;
   color: white;
   text-align: center;
}

.footer-copyright {
    float: left;
}

.footer-items {
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1.5em;
    text-decoration: none;
    color: #777;
    /* color: #333; */
    /* color: #766666; */
}

.btn-space {
    margin-right: 0.5em;
}

.btn-space-top {
    margin-right: 0.5em;
}

.inline-title {
    margin-right: 0.8em;
}

.edit-button-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapWord {
    word-wrap:break-word;
}

.displayImages {
    height : 5em;
    width : 5em;
}

.alert.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0px;
}

.hidden-element {
    display: none;
}

#fileTable {
    table-layout: fixed;
    word-wrap:break-word;
}

.completeIcon {
    height : 1.5em;
    width : 1.5em;
}
